<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
  <!-- head -->
  <div id="header">
    <h1><b>"SAVING LIFE"</b> Web portal to facilate blood donation</h1>
  </div>
  <!-- navbar -->

  <div class="topnav" id="myTopnav">
    <a href="/" class="active"><i class="fas fa-home"></i>&nbsp; Home</a>
    <a href="/patient/patientlogin"><i class="fas fa-procedures"></i>&nbsp; Patient</a>
    <a href="/donor/donorlogin"><i class="fas fa-user"></i>&nbsp; Donor</a>
    <a href="/adminlogin"><i class="fas fa-user-shield"></i>&nbsp; Admin</a>
  </div>
</body>

</html>